In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df = pd.read_csv("hotel_bookings.csv")

In [15]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [21]:
df.drop(columns=['agent', 'company'], inplace=True)
df.dropna(inplace=True)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,3,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,4,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,C,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,A,0,No Deposit,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,E,0,No Deposit,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,D,0,No Deposit,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,A,0,No Deposit,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,A,0,No Deposit,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [22]:
unique_countries = df['country'].unique()

country_dict = {country: idx for idx, country in enumerate(unique_countries)}

country_dict

{'PRT': 0,
 'GBR': 1,
 'USA': 2,
 'ESP': 3,
 'IRL': 4,
 'FRA': 5,
 'ROU': 6,
 'NOR': 7,
 'OMN': 8,
 'ARG': 9,
 'POL': 10,
 'DEU': 11,
 'BEL': 12,
 'CHE': 13,
 'CN': 14,
 'GRC': 15,
 'ITA': 16,
 'NLD': 17,
 'DNK': 18,
 'RUS': 19,
 'SWE': 20,
 'AUS': 21,
 'EST': 22,
 'CZE': 23,
 'BRA': 24,
 'FIN': 25,
 'MOZ': 26,
 'BWA': 27,
 'LUX': 28,
 'SVN': 29,
 'ALB': 30,
 'IND': 31,
 'CHN': 32,
 'MEX': 33,
 'MAR': 34,
 'UKR': 35,
 'SMR': 36,
 'LVA': 37,
 'PRI': 38,
 'SRB': 39,
 'CHL': 40,
 'AUT': 41,
 'BLR': 42,
 'LTU': 43,
 'TUR': 44,
 'ZAF': 45,
 'AGO': 46,
 'ISR': 47,
 'CYM': 48,
 'ZMB': 49,
 'CPV': 50,
 'ZWE': 51,
 'DZA': 52,
 'KOR': 53,
 'CRI': 54,
 'HUN': 55,
 'ARE': 56,
 'TUN': 57,
 'JAM': 58,
 'HRV': 59,
 'HKG': 60,
 'IRN': 61,
 'GEO': 62,
 'AND': 63,
 'GIB': 64,
 'URY': 65,
 'JEY': 66,
 'CAF': 67,
 'CYP': 68,
 'COL': 69,
 'GGY': 70,
 'KWT': 71,
 'NGA': 72,
 'MDV': 73,
 'VEN': 74,
 'SVK': 75,
 'FJI': 76,
 'KAZ': 77,
 'PAK': 78,
 'IDN': 79,
 'LBN': 80,
 'PHL': 81,
 'SEN': 82,
 'SYC': 83,
 'AZE': 84,
 'BHR': 85,
 'NZL': 86,
 'THA': 87,
 'DOM': 88,
 'MKD': 89,
 'MYS': 90,
 'ARM': 91,
 'JPN': 92,
 'LKA': 93,
 'CUB': 94,
 'CMR': 95,
 'BIH': 96,
 'MUS': 97,
 'COM': 98,
 'SUR': 99,
 'UGA': 100,
 'BGR': 101,
 'CIV': 102,
 'JOR': 103,
 'SYR': 104,
 'SGP': 105,
 'BDI': 106,
 'SAU': 107,
 'VNM': 108,
 'PLW': 109,
 'QAT': 110,
 'EGY': 111,
 'PER': 112,
 'MLT': 113,
 'MWI': 114,
 'ECU': 115,
 'MDG': 116,
 'ISL': 117,
 'UZB': 118,
 'NPL': 119,
 'BHS': 120,
 'MAC': 121,
 'TGO': 122,
 'TWN': 123,
 'DJI': 124,
 'STP': 125,
 'KNA': 126,
 'ETH': 127,
 'IRQ': 128,
 'HND': 129,
 'RWA': 130,
 'KHM': 131,
 'MCO': 132,
 'BGD': 133,
 'IMN': 134,
 'TJK': 135,
 'NIC': 136,
 'BEN': 137,
 'VGB': 138,
 'TZA': 139,
 'GAB': 140,
 'GHA': 141,
 'TMP': 142,
 'GLP': 143,
 'KEN': 144,
 'LIE': 145,
 'GNB': 146,
 'MNE': 147,
 'UMI': 148,
 'MYT': 149,
 'FRO': 150,
 'MMR': 151,
 'PAN': 152,
 'BFA': 153,
 'LBY': 154,
 'MLI': 155,
 'NAM': 156,
 'BOL': 157,
 'PRY': 158,
 'BRB': 159,
 'ABW': 160,
 'AIA': 161,
 'SLV': 162,
 'DMA': 163,
 'PYF': 164,
 'GUY': 165,
 'LCA': 166,
 'ATA': 167,
 'GTM': 168,
 'ASM': 169,
 'MRT': 170,
 'NCL': 171,
 'KIR': 172,
 'SDN': 173,
 'ATF': 174,
 'SLE': 175,
 'LAO': 176}

In [23]:
month_to_number = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}

df['arrival_date_month'] = df['arrival_date_month'].map(month_to_number)
df['country'] = df['country'].map(country_dict)

df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [24]:
hotel_type = {'City Hotel': 0, 'Resort Hotel': 1}

df['hotel'] = df['hotel'].map(hotel_type)

df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1,0,342,2015,7,27,1,0,0,2,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1,0,737,2015,7,27,1,0,0,2,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,1,0,7,2015,7,27,1,0,1,1,...,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,1,0,13,2015,7,27,1,0,1,1,...,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,1,0,14,2015,7,27,1,0,2,2,...,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [25]:
df[['reservation_status_year', 'reservation_status_month', 'reservation_status_day']] = df['reservation_status_date'].str.split('-', expand=True)

df[['reservation_status_year', 'reservation_status_month', 'reservation_status_day']] = df[['reservation_status_year', 'reservation_status_month', 'reservation_status_day']].apply(pd.to_numeric)

df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,reservation_status_year,reservation_status_month,reservation_status_day
0,1,0,342,2015,7,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015,7,1
1,1,0,737,2015,7,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015,7,1
2,1,0,7,2015,7,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015,7,2
3,1,0,13,2015,7,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015,7,2
4,1,0,14,2015,7,27,1,0,2,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2015,7,3

In [26]:
df.drop(columns=['reservation_status_date'], inplace=True)

df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_year,reservation_status_month,reservation_status_day
0,1,0,342,2015,7,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,2015,7,1
1,1,0,737,2015,7,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,2015,7,1
2,1,0,7,2015,7,27,1,0,1,1,...,No Deposit,0,Transient,75.0,0,0,Check-Out,2015,7,2
3,1,0,13,2015,7,27,1,0,1,1,...,No Deposit,0,Transient,75.0,0,0,Check-Out,2015,7,2
4,1,0,14,2015,7,27,1,0,2,2,...,No Deposit,0,Transient,98.0,0,1,Check-Out,2015,7,3

In [27]:
df = pd.get_dummies(df, columns=['meal', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type', 'reservation_status'])

In [29]:
df = df.astype(int)

In [30]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show
0,1,0,342,2015,7,27,1,0,0,2,...,1,0,0,0,0,1,0,0,1,0
1,1,0,737,2015,7,27,1,0,0,2,...,1,0,0,0,0,1,0,0,1,0
2,1,0,7,2015,7,27,1,0,1,1,...,1,0,0,0,0,1,0,0,1,0
3,1,0,13,2015,7,27,1,0,1,1,...,1,0,0,0,0,1,0,0,1,0
4,1,0,14,2015,7,27,1,0,2,2,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0,23,2017,8,35,30,2,5,2,...,1,0,0,0,0,1,0,0,1,0
119386,0,0,102,2017,8,35,31,2,5,3,...,1,0,0,0,0,1,0,0,1,0
119387,0,0,34,2017,8,35,31,2,5,2,...,1,0,0,0,0,1,0,0,1,0
119388,0,0,109,2017,8,35,31,2,5,2,...,1,0,0,0,0,1,0,0,1,0
119389,0,0,205,2017,8,35,29,2,7,2,...,1,0,0,0,0,1,0,0,1,0